.nav {
  background-color: #fcfcfc;
  width: 260px;
  height: 40px;
  border-radius: 0px 0px 20px 20px;
  margin-top: 10px;
}
.nav .nav__list {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav i {
  font-size: 20px;
}
