body,
html {
  height: 100%;
}
.grandfather {
  display: flex;
  background-color: #1e90ff;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.father {
  display: flex;
  background-color: #ff6b81;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.child {
  background-color: #d8d8d8;
  height: 25%;
  width: 25%;
}
.child:nth-child(2):hover {
  background-color: red;
}
