body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: sans-serif;
}
#box1 {
  background-color: #76c4c6;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dots {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: dotsrotate 0.9s ease-in-out infinite;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

@keyframes dotsrotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

#box2 {
  background-color: #1fac9c;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lines {
  width: 13%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.line:nth-child(1) {
  width: 12%;
  height: 10%;
  background-color: white;
  animation: linesscale 1.3s linear 0.15s infinite;
}
.line:nth-child(2) {
  width: 12%;
  height: 10%;
  background-color: white;
  animation: linesscale 1.3s linear 0.3s infinite;
}
.line:nth-child(3) {
  width: 12%;
  height: 10%;
  background-color: white;
  animation: linesscale 1.3s linear 0.45s infinite;
}
.line:nth-child(4) {
  width: 12%;
  height: 10%;
  background-color: white;
  animation: linesscale 1.3s linear 0.6s infinite;
}
.line:nth-child(5) {
  width: 12%;
  height: 10%;
  background-color: white;
  animation: linesscale 1.3s linear 0.75s infinite;
}
@keyframes linesscale {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(2.5);
  }
  40% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
