@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #cccfdb;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.signin__container {
  background-color: #f8f8f8;
  width: 300px;
  height: 600px;
  box-shadow: 13px 9px 16px 1px #d0d0d0;
  box-shadow: 4px 4px 5px white inset;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
}

.signin__title {
  font-size: 15px;
  font-weight: 700;
}

.signin__input {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-bottom: 55px;
}

.input__email {
  width: 240px;
  height: 30px;
  border-radius: 5%;
  margin-bottom: 30px;
}

.input__password {
  width: 240px;
  height: 30px;
  border-radius: 5%;
  margin-bottom: 15px;
}

.signin__forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: red;
  margin-bottom: 15px;
}

.signin__checkbox {
  display: flex;
  font-size: 10px;
}

.fas {
  color: red;
}

.signin__rememberme {
  opacity: 0.6;
  margin-left: 4px;
}

.signin__action {
  display: flex;
  flex-direction: column;
}

.signin__signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 35px;
  border-radius: 2em;
  background-color: red;
  color: white;
  font-size: 10px;
  margin-bottom: 25px;
}

.signin__or {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 25px;
}

.signin__social-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signin__social-facebook {
  width: 110px;
  height: 35px;
  border-radius: 2em;
  background-color: #4b5aa3;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin__social-twitter {
  width: 110px;
  height: 35px;
  border-radius: 2em;
  background-color: #5da1f2;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin__more {
  margin-top: 40px;
  font-size: 12px;
  width: 250px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signin__more-grey {
  opacity: 0.65;
  margin-right: 3px;
}

.signin__more-red {
  color: red;
}
